/* styles.css */

/* Estilos generales */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutíl */
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutíl */
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-out;
}